@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
    background-image: url('../done/loopstudios/images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width: 576px) {
    #hero {
        background-image: url('../done/loopstudios/images/mobile/image-hero.jpg');
        background-position: center;
    }
}
/* CSS */
:root {
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

@font-face {
  font-family: test;
  src: url('../fonts/Youthful_Demo.ttf');
}

h3 {
    font-family: test;
}